<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="http://code.shutterstock.com/rickshaw/src/css/graph.css">  
  
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <script src="http://code.shutterstock.com/rickshaw/rickshaw.js"></script>
</head>
<body>

<div id="chart_container">
  <div id="chart"></div>
</div>

  
<script>

var ajaxGraph = new Rickshaw.Graph.Ajax( {

	element: document.getElementById("chart"),
	width: 400,
	height: 300,
	renderer: 'line',
	dataURL: 'static/data/trainp.json',
	onData: function(d) { return d },
	series: [
		{
			name: 'New York',
			color: '#ff0000',
		}, {
			name: 'London',
			color: '#ff0000',
		}, {
			name: 'Tokyo',
			color: '#00ff00'
		}
	]
} );

</script>

</body>
</html>
